<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtrade.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.XTrade" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              	<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
            <intent-filter>
            	<action android:name="com.xtrade.android.LOGIN_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter> 
        </activity>
        
         <activity android:name=".XTradeActivity">
             <intent-filter>
             <action android:name="com.xtrade.android.MAIN_XTRADE" />
             <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
         </activity>
        
         <activity android:name=".ClientListActivity">
             <intent-filter>
             <action android:name="com.xtrade.android.CLIENT_LIST_ACTION" />
             <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
         </activity>
         
         <activity android:name=".ClientActivity">
             <intent-filter>
                 <action android:name="com.xtrade.android.CLIENT_ACTION" />
                 <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
         </activity>
         
         <activity android:name=".AboutActivity">
             <intent-filter>
               <action android:name="com.xtrade.android.ABOUT" />
               <category android:name="android.intent.category.DEFAULT" />
               </intent-filter>
         </activity>
         
          <activity android:name=".ClientMapActivity">
             <intent-filter>
               <action android:name="com.xtrade.android.CLIENT_MAP_ACTION" />
               <category android:name="android.intent.category.DEFAULT" />
               </intent-filter>
         </activity>
         
         
         <!--  Services Declaration -->
         
         <service android:name=".service.XTradeBaseService" android:exported="false" >
              <intent-filter>
            	<action android:name="com.xtrade.android.LOGIN_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter> 
         </service>
         
         <provider 
             android:authorities="com.xtrade.android"
             android:name=".provider.XTradeProvider">
         </provider>
         
    </application>

</manifest>