<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtrade.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_logo_text"
        android:label="@string/app_name"
        android:theme="@style/Theme.XTrade"
        
         >
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.XTrade.NoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="com.xtrade.android.LOGIN_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".TraderActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.xtrade.android.MAIN_XTRADE" />
                <action android:name="com.xtrade.android.TRADER_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".TraderCreateOrUpdateActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.xtrade.android.TRADER_CREATE_UPDATE_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".TraderDetailActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.xtrade.android.TRADER_DETAIL_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".AboutActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.xtrade.android.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ClientMapActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.xtrade.android.CLIENT_MAP_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Services Declaration -->

        <service
            android:name=".service.XTradeBaseService" android:screenOrientation="portrait" android:exported="false">
            <intent-filter>
                <action android:name="com.xtrade.android.LOGIN_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <provider android:name=".provider.XTradeProvider" android:authorities="com.xtrade.android" >
        </provider>
    </application>

</manifest>