<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtrade.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.xtrade.android.LOGIN_ACTION" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".ClientListActivity"
            android:label="@string/app_name" >
             <action android:name="com.xtrade.android.CLIENT_LIST_ACTION" />
             <category android:name="android.intent.category.DEFAULT" />
         </activity>
         
         <activity
            android:name=".AboutActivity"
            android:label="@string/app_name" >
               <action android:name="com.xtrade.android.ABOUT_XTRADE" />
               <category android:name="android.intent.category.DEFAULT" />
         </activity>
    </application>

</manifest>